.navbar-background {
    background-color: $blue;
    color: $white-color;
}
.navbar-expand .navbar-nav {
    padding: 2rem 1rem;
    margin-left: auto !important;
    @include respond(phone) {
        margin: auto !important;
    }
    .nav-item {
        .active {
            color: $primary-color;
        }
        a {
            padding: 2rem;
            color: $white-color;
            @include respond(phone) {
                padding: 1rem;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}