// COLORS
$primary-color: #ffdead;
$secondary-color: #2e7e75;
$dark-blue: #375473;
$blue: #3087a3;
$white-color: #fff;
$dark-grey: #333333;
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$gradient-background: linear-gradient(90deg, rgba(5,37,80,0.7992239131980917) 0%, rgba(9,121,95,0.8608485630580357) 53%, rgba(0, 85, 255, 0.767) 100%);
